{% extends 'base.html.twig' %}

{% block title %}Conducteur{% endblock %}

{% block body %}
    <h1>Conducteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conducteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ conducteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ conducteur.prenom }}</td>
            </tr>
            <tr>
                <th>Numeropermis</th>
                <td>{{ conducteur.numeropermis }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ conducteur.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conducteur_index') }}">back to list</a>

    <a href="{{ path('conducteur_edit', {'id': conducteur.id}) }}">edit</a>

    {{ include('conducteur/_delete_form.html.twig') }}
{% endblock %}
