<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->

        <!-- Compiled and minified JavaScript -->

        <link href="{{ asset('libs/css/material-icons/icon.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('libs/css/sweetalert2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('libs/css/dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('libs/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('libs/css/style.css') }}">
        <script src="{{ asset('libs/js/3.4.1_jquery.min.js') }}"></script>
        <script src="{{ asset('libs/js/sweetalert2.min.js') }}"></script>
        <script src="{{ asset('libs/js/1.10.19_.dataTables.min.js') }}"></script>

    </head>

    <body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% block navbar %}
            <!--NAVBAR-->
            <!-- Dropdown Structure -->
            {#<ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>#}

            <ul id="dropdown1" class="dropdown-content">
                {# <li><a href="#!">one</a></li>#}
                <li><a href="#!">Profile</a></li>
                <li class="divider"></li>
                <li class="red"><a href="{{ path('app_logout') }}" class="white-text"><i class="material-icons">exit_to_app</i> Logout</a></li>
            </ul>



            <nav>
                <div class="nav-wrapper" style="background:#3498db;">
                    <a href="{{ path('dataset_index') }}" class="brand-logo">
                        <span style="border-bottom: 0px; font-size: 2.5rem; font-weight: bold;">&nbsp;&nbsp;KERNEL IA</span>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li {% if controller is defined and controller == 'dataset_index'%}class="active" {% endif %} ><a href="{{ path('dataset_index') }}">All tables</a></li>
                        <li ><a href="#!">Predictions</a></li>

                        {#<li {% if controller is defined and controller == 'generator'%}class="active" {% endif %} ><a href="{{ path('generator') }}">Generator</a></li>
                        #}<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><img style="margin: 6px;" src="https://placehold.it/50X50" class="responsive-img circle" alt=""></a></li>
                        <!-- Dropdown Trigger -->
                        {#<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>#} </ul>
                </div>
            </nav>
        {% endblock %}
    <!--END NAVBAR-->

    <!--MaterializeCSS Floating Button-->


    <div class="fixed-action-btn">
        <button class="btn-floating btn-large" style="background:#3498db;">
            <i class="large material-icons" style="font-size: 2rem">add</i>
        </button>
        <ul>
            <li><a href="{{ path('generator') }}" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Generate new table"><i class="material-icons">insert_chart</i></a></li>
            {#<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>#}
        </ul>
    </div>
    {% endif %}

    <!--MaterializeCSS Floating Button end-->


    <div class="container-fluid">
        <div class="custom-container" style="position:relative;">
            {% block body %}{% endblock %}
        </div>
    </div>

        {% block javascripts %}{% endblock %}

    <script src="{{ asset('libs/js/1.0.0_materialize.min.js') }}"></script>

    <script>
            $(function(){

                $('table.table').DataTable(
                                   {
                        "lengthMenu": [
                            //[3,5,10, 25, 50, -1], //Values
                            [5], //Values
                            [5] //Labels
                            //[3, 5, 10, 25, 50, "All"] //Labels
                        ],
                       //"bLengthChange": false
                    }
                );

                //$('.sidenav').sidenav();
                $(".dropdown-trigger").dropdown();
                $('.tooltipped').tooltip();
                $('.fixed-action-btn').floatingActionButton();
                /*$('select').formSelect();*/
                //$('.datepicker').datepicker();




            });
        </script>
    </body>

</html>
