<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
       {# <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- swup transition-->
        <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

        <style>

            body, html{
                #background-color: whitesmoke;
                background-color: #dfe4ea;
                font-family:'Open Sans', sans-serif;
                margin:0;
                padding:0;
                width:100%;
                min-height: 100%;
            }
            h1,h2,h3,h4,h5,h6{
                font-family: 'Montserrat', sans-serif;
                border-bottom: 1px solid #a4b0be;
                margin-top:auto;
            }


            thead{
                background: #a4b0be;
                color:white;
            }


            .custom-container{
                #background:white;
                padding:23px;
                margin:23px;
            }

            .button-container{
                display:flex;
                margin-top: 15px;

            }

            .child-button-container{
                position: relative;
                bottom: 51px;
                left: 88px;
            }

            .export-delete-actions{
                position: relative;
                bottom: 24px;
                left: 58%;
            }

            div.custom-container table.table tbody tr td a{
                border-radius: 23px;
                background: #2f3542;
                position: relative;
                height: 23px;
                width: 10px;
                color:white;
                padding: 0 16px;

                #border: none;
                #border-radius: 2px;


                #line-height: 36px;

                text-transform: uppercase;
                vertical-align: middle;
            }
            /*
                        div.container-fluid div.custom-container a{
                           text-decoration: none;
                           color: #fff;
                           background: #a4b0be;
                           text-align: center;
                           letter-spacing: .5px;
                           -webkit-transition: background-color .2s ease-out;
                           transition: background-color .2s ease-out;
                           cursor: pointer;
                            vertical-align: middle;

                            height: 36px;
                            margin-top: 7px;
                            display: inline-block;




           }

              div.custom-container a:hover{
                box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
            }

             */



/*
            div.custom-container div.custom-container table.table tbody tr td:last-child{
                display: flex;
                flex-direction: column;
                position: relative;
            }
*/

            ul.champs{
                display: flex;
                position: relative;
                flex-wrap: wrap;
                justify-content:space-around;
            }

            ul.champs li.generator-sub-content{
                flex-wrap: wrap;
                position: relative;

            }



            .white-block{
                background: white;
                margin:2%;
                overflow: hidden;
                box-shadow:0 0 2px gainsboro;
                border-radius:5px;

            }
            .white-block .title{
                background: transparent;
                color:black;
                text-align: left;
                width:95%;
                font-style: italic;
                display: inline-block;
                padding:0;
                border-top:1px #06A1A8 solid;
            }
            .white-block .title span{
                display: inline-block;
                padding:10px 0 10px 70px;
                position: relative;
                border-bottom:2px #06A1A8 solid;
            }
            .white-block .back{
                margin: 0;
                height: 100%;
                position: absolute;
                width: 50px;
                left: 0;
                padding: 0;
                top: 0;
            }
            .white-block .back i{
                position: absolute;
                top:50%;
                left:50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .white-block .title span:after{
                content:'';
                position: absolute;
                top:0;
                left:0;
                width: 105%;
                height:2px;
                background: #06A1A8;
            }
            .white-block .search{
                text-align: left;
                padding:0 2%;
            }
            .white-block .argument{
                display: inline-block;
                padding:5px 10px;

            }
            .white-block .argument .title{
                font-weight: normal;
                padding:0;
                font-size: .8em;
                font-style: italic;
                text-transform: capitalize;
            }
            .white-block select,.white-block input{
                border:none;
                background: transparent;
                outline:none;
                border-bottom:1px gainsboro solid;
                padding:5px 20px;
            }
            .white-block select:focus,.white-block input:focus{
                border-bottom:2px #06A1A8 solid;
            }

            .white-block nav{
                display:none;
            }

            .white-block .container-fluid h1{
                margin-top: -13%;
            }

            .white-block .row .row h3{
                display:none;
            }

            .nav-wrapper li{
                font-weight:bolder;
            }

            .table-index thead, .table-index tbody{
                font-size: small;
            }

            .btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
                font-size: 1.0rem;
                line-height: inherit;
            }

            .btn{
                background: #a4b0be;
            }






        </style>
    </head>

    <body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% block navbar %}
            <!--NAVBAR-->
            <!-- Dropdown Structure -->
            {#<ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>#}

            <ul id="dropdown1" class="dropdown-content">
                {# <li><a href="#!">one</a></li>#}
                <li><a href="#!">Profile</a></li>
                <li class="divider"></li>
                <li class="red"><a href="{{ path('app_logout') }}" class="white-text"><i class="material-icons">exit_to_app</i> Logout</a></li>
            </ul>



            <nav>
                <div class="nav-wrapper" style="background:#3498db;">
                    <a href="{{ path('dataset_index') }}" class="brand-logo">
                        <span style="border-bottom: 0px; font-size: 2.5rem; font-weight: bold;">&nbsp;&nbsp;KERNEL IA</span>
                        {#<img src="https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png" style="width:23%;" alt="" class="img-responsive">#}
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li {% if controller is defined and controller == 'dataset_index'%}class="active" {% endif %} ><a href="{{ path('dataset_index') }}">All tables</a></li>
                        <li ><a href="#!">Predictions</a></li>
                        {#<li {% if controller is defined and controller == 'dataset_new'%}class="active" {% endif %} ><a href="{{ path('dataset_new') }}">Add new item</a></li>#}
                        {#<li {% if controller is defined and controller == 'generator'%}class="active" {% endif %} ><a href="{{ path('generator') }}">Generator</a></li>
                        #}<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><img src="https://placehold.it/50X50" class="responsive-img circle" alt=""></a></li>
                        <!-- Dropdown Trigger -->
                        {#<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>#} </ul>
                </div>
            </nav>
        {% endblock %}
    <!--END NAVBAR-->

    <!--MaterializeCSS Floating Button-->


    <div class="fixed-action-btn">
        <button class="btn-floating btn-large" style="background:#3498db;">
            <i class="large material-icons" style="font-size: 2rem">add</i>
        </button>
        <ul>
            <li><a href="{{ path('generator') }}" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Generate new table"><i class="material-icons">insert_chart</i></a></li>
            {#<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>#}
        </ul>
    </div>
    {% endif %}

    <!--MaterializeCSS Floating Button end-->


    <div class="container-fluid">
        <div class="custom-container" style="position:relative;">
            {% block body %}{% endblock %}
        </div>
    </div>

        {% block javascripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <script>
            $(function(){




                //$('.sidenav').sidenav();
                $(".dropdown-trigger").dropdown();
                $('.tooltipped').tooltip();
                $('.fixed-action-btn').floatingActionButton();

                $('div.container-fluid table.table').DataTable(
                    {
                        "lengthMenu": [[3,5,10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]]
                    }
                );


                //Datatable custom display
                $('div.dataTables_length label select').css('display', 'flex');
               /* var btn_show_home = $('div.custom-container div.custom-container table.table tbody tr td:last-child a:nth-child(1)');
                btn_show_home.html('<i class="material-icons" style="position:relative;right: 7px; bottom: 6px;font-size: 1rem">remove_red_eye</i>');

                var btn_edit_home = $('div.custom-container div.custom-container table.table tbody tr td:last-child a:nth-child(2)');
                btn_edit_home.html('<i class="material-icons" style="position:relative;right: 7px; bottom: 6px;font-size: 1rem">build</i>');

                var btn_create_home = $('div.custom-container div.custom-container a:nth-child(3)');
                btn_create_home.html('Create new <i class="material-icons right">add</i>');*/

               /* Swal.fire({
                    title: 'Welcome!',
                    text: 'Do you want to continue',
                    type: 'success',
                    toast: true,
                    confirmButtonText: 'Let\'s go!'
                })*/

            });

        </script>
    </body>

</html>
