
                            {#{% block title %}Etudiant index{% endblock %}#}
                            
                            {% block body %}
                                <h3 style="margin-bottom: 0px;">Etudiant </h3>
                            
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th>Nom</th><th>Prenom</th><th>Date</th>
                                        <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for etudiant in etudiants %}
                                        <tr>
                                        <td>{{etudiant.nom}}</td><td>{{etudiant.prenom}}</td><td>{{etudiant.date|date('d-m-Y')}}</td>
                                            <td style="display:flex;flex-direction: column;">
                                                <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}"><i style="font-size:x-small;" class="material-icons tooltipped" data-position="left" data-tooltip="Show">remove_red_eye</i></a>
                                                {#<a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}"><i style="font-size:x-small;"  class="material-icons tooltipped" data-position="left" data-tooltip="Edit">build</i></a>#}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            
                                <a href="{{ path('etudiant_new') }}" class="btn" style="margin-top:15px;background:#3498db;">Create new <i class="material-icons">add</i></a>
                            {% endblock %}