{% extends 'base.html.twig' %}

                            {% block title %}Etudiant{% endblock %}
                            
                            {% block body %}
                            <div class="white-block" style="padding:15px;">
                                <h1>Etudiant</h1>
                            
                                <table class="table">
                                    <tbody>
                                        <tr>
                                        <th>Nom</th>
                                        <td>{{etudiant.nom}}</td>
                                    </tr>
                                    <tr>
                                        <th>Prenom</th>
                                        <td>{{etudiant.prenom}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th>
                                        <td>{{etudiant.age}}</td>
                                    </tr>
                                    <tr>
                                        <th>Datedenaissance</th>
                                        <td>{{etudiant.datedenaissance|date('d-m-Y')}}</td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                                <div class="button-container" >
                                
                                    <a href="{{ path('dataset_index') }}" class="btn">back</a>
                                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}" class="btn orange"><i class="material-icons">build</i></a>
                                    {{ include('etudiant/_delete.html.twig') }}
                                </div>
                            </div>
                            {% endblock %}